<!-- ==============================================================  -->
<!-- sidebar -->
<!-- ============================================================== -->
<mat-nav-list appAccordion>

    <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()" routerLinkActive="selected"
        group="{{menuitem.state}}">
        <a class="" appAccordionToggle [routerLink]="['/', menuitem.state]" *ngIf="menuitem.type === 'link'">
            <span style="padding-right:7px"><fa-icon [icon]="menuitem.icon" size="lg"></fa-icon></span>
            <span>{{ menuitem.name }}</span>
            <span fxFlex></span>
            <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
        </a>

    </mat-list-item>

</mat-nav-list>