<div style="width:90%; display: inline-block">

    <mat-card>
        <mat-card-header>

            <mat-card-title>SIH</mat-card-title>

            <mat-card-subtitle>
                Sistema de Internações Hospitalares do SUS
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                O SIH é gerido pelo Ministério da Saúde, através da Secretaria de Assistência à Saúde, em conjunto com
                as
                Secretarias Estaduais de Saúde e as Secretarias Municipais de Saúde, sendo processado pelo DATASUS -
                Departamento de Informática do SUS, da Secretaria Executiva do Ministério da Saúde.
            </p>
            <p>
                As unidades hospitalares participantes do SUS (públicas ou particulares conveniadas) enviam as
                informações
                das internações efetuadas através da AIH - Autorização de Internação Hospitalar, para os gestores
                municipais (se
                em
                gestão plena) ou estaduais (para os demais). Estas informações são processadas no DATASUS, gerando os
                créditos
                referentes ao serviços prestados e formando uma valiosa Base de Dados, contendo dados de grande parte
                das
                internações hospitalares realizadas no Brasil.
                O sistema tem captação continua com consolidação mensal por município, estado e nacional
            </p>
            <p>
                O SIH possibilita:
            </p>
            <ul>
                <li> Armazenar os dados das internações hospitalares; </li>
                <li> Apresentar e processar mensalmente as AIH dos estabelecimentos de saúde públicos, conveniados e
                    contratados; </li>
                <li> Disponibilizar aos gestores relatórios com informações para pagamento da produção aos prestadores;
                </li>
                <li> Acompanhar o desempenho dos hospitais quanto às metas firmadas nos contratos entre gestor e
                    hospitais;
                </li>
                <li> Garantir ferramenta de auxílio para as ações de controle, avaliação e auditoria locais; </li>
                <li> Calcular o valor global a ser pago aos prestadores e o acompanhamento dos tetos financeiros
                    estabelecidos na programação; </li>
                <li> Conhecer, gestores, prestadores e profissionais envolvidos na prestação de assistência hospitalar
                    todas
                    as regras contidas no sistema; </li>
                <li> Ao gestor, interferir oportunamente no processamento da produção mensal da produção hospitalar.
                </li>
            </ul>
            
            <p>
                Além de também auxiliar:    
            </p>
            <ul>
                <li> O conhecimento ou a construção do perfil de morbidade e mortalidade hospitalar;</li>
                <li> O direcionamento adequado das ações de prevenção e promoção da saúde para uma população definida;
                </li>
                <li> A avaliação da qualidade da atenção à saúde ofertada a uma população;</li>
            </ul>
            <p>
                Fonte: DATASUS
            </p>

        </mat-card-content>
    </mat-card>
</div>